{
  "branches": [
    "master"
  ],
  "plugins": [
    [
      "@semantic-release/git",
      {
        "message": "chore(release): 🤖 ${nextRelease.version} \n\n${nextRelease.notes}"
      }
    ]
  ]
}
